### General ###
tmp
log
*.swp
*.swo
*.log

### Project-specific ###
assets
test
renren/remote
detect/haarcascades
.DS_Store
renren.md
*.html
*.txt
*.sql

### Haskell ###
dist
*.hi
*.o

### Python ###
*.pyc
