### General ###
tmp
*.swp

### Project-specific ###
.DS_Store
renren.md
assets
log
test
renren/remote
renren/src/download_albums.rb
detect/haarcascades

### Haskell ###
dist
*.o
*.hi

### Python ###
*.pyc
